---
---

@import "minima";

:root {
    --primary: firebrick; 
  }

@media screen and (max-width: 1200px){
  
  .h_logo{
    
    display: none;
    
    }
}

@media screen and (max-width: 600px){
    .site-nav {
        position: relative;
        margin-bottom: 20px;
    }
}


.h_logo{
    height: 75px;
    width: 273px;
    margin: auto
}

.page-link:hover{
    color: var(--primary);
}

.post-title{
    size: 32!important;
}

  
.site-title{
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 40px;
    padding-top: 10px;
}

.site-header{
    display: flex;
    justify-content: space-around;
    background-color: #d6d6d6;
    border-bottom: 1px solid darkgray;  
}

.site-nav{
    width: 100%;
    text-align: center;
}

.site-title{
    color: black!important;
}

.wrapper{
    max-width: calc(800px - (30px * 2));
    margin: auto;
    padding: 0px;
}

.youtube{
    border: 1px solid dark-grey; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 560;
    border: 1px solid gray;
    border-radius: 2px;
}

// h1{
//     color: var(--primary);
// }